<%= simple_form_for [@kitchen, @booking] do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.submit %>
<% end %>

<p><%= link_to "back to bookings", kitchen_path(@kitchen) %></p>
