<%= simple_form_for(@bookings) do |f| %>
  <%= f.input :start_date %>
  <%= f.input :end_date %>
  <%= f.input :confirmed %>
  <%= f.submit %>
<% end %>

<p><%= link_to "back to bookings", bookings_path %></p>
