<div class="container">
  <h1>My Dashboard</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#userSection">User Dashboard</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#ownerSection">Owner Dashboard</a>
    </li>
  </ul>

  <div class="tab-content">
  <!-- Owner Section -->
    <div class="tab-pane fade show" id="ownerSection">
      <div class="row mt-3">
        <div class="col-12">
        <h2>My kitchens</h2>
          <ul>
          <br>
          <% @user.kitchens.each do |kitchen| %>
          <div class="col-md-4 m-auto">
          <%# Carte %>
               <div class="kitchen_card" >
                 <h5 class="card-title"><%= link_to kitchen.name, kitchen_path(kitchen) %></h5>
                 <% if kitchen.photos.attached?  %>
                 <%= cl_image_tag kitchen.photos.first.key, class: "img_index"%>
                 <% else %>
                 <%= image_tag "https://source.unsplash.com/random", class: "img_index"  %>
                 <% end %>
                 <% kitchen.bookings.each do |booking|%>
                <li> This kitchen is booked by <%=booking.user.email%></li>
                <li>From <%=booking.start_date.strftime("%B %d, %Y")%></li>
                <li>To <%=booking.end_date.strftime("%B %d, %Y")%></li>
                <% end %>
                <%= link_to "Supprimer", kitchen_path(kitchen), data: {turbo_method: :delete, turbo_confirm: "Are you sure?" }, class:"delete_link"%>
               </div>
               <%# Fin de carte %>
             </div>
                <br>
            <% end %>
          </ul>
          <div>
            <%= link_to "Add a new kitchen", new_kitchen_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>

  <!-- User Section -->
    <div class="tab-pane fade show active" id="userSection">
      <div class="row mt-3">
        <div class="col-12">
          <ul>
            <% @user.bookings.each do |booking| %>
              <li>You have booked <strong><%= booking.kitchen.name%></strong></li>
              <li>From <%= booking.start_date.strftime("%B %d, %Y")%></li>
              <li>To <%= booking.end_date.strftime("%B %d, %Y")%></li>
              <li>For <%= booking.kitchen.price%>€ per day</li>
              <li>Total <%= ((booking.end_date - booking.start_date).to_i)*booking.kitchen.price%>€</li>
              <%= link_to "Delete the booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
