<h1>"Dashboard"</h1>
<h2>My kitchens</h2>
<ul>
  <% @user.kitchens.each do |kitchen| %>
    <li><%= link_to kitchen.name, kitchen_path(kitchen) %></li>
    <%= link_to "Delete the kitchen", kitchen_path(kitchen), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
      <% kitchen.bookings.each do |booking|%>
      <li><%=booking.start_date%></li>
      <li><%=booking.end_date%></li>
      <li><%=booking.user.email%></li>
      <% end %>
  <% end %>
<br>
</ul>
<h2>My bookings</h2>
<ul>
  <% @user.bookings.each do |booking| %>
      <%= link_to "Delete the booking", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>

    <li><%= booking.kitchen.name%>
    <li><%= booking.start_date%></li>
    <li><%= booking.end_date%></li>
  <% end %>
</ul>
<br>
