<div class="container">
  <h1>Mon tableau de bord</h1>

  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-bs-toggle="tab" href="#userSection">Locataire</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-bs-toggle="tab" href="#ownerSection">Propriétaire</a>
    </li>
  </ul>

  <div class="tab-content">
  <!-- Owner Section -->
    <div class="tab-pane fade show" id="ownerSection">
      <div class="row mt-3">
        <div class="col-12">
        <h2>Mes cuisines</h2>
          <br>
          <div class="row">
            <% @user.kitchens.each do |kitchen| %>
            <div class="col-md-4 m-auto">
            <%# Carte %>
                 <div class="kitchen_card" >
                  <%= link_to kitchen_path(kitchen) do %>
                   <% if kitchen.photos.attached?  %>
                   <%=  cl_image_tag kitchen.photos.first.key, class: "img_index"%>
                   <% else %>
                   <%= image_tag "https://source.unsplash.com/random", class: "img_index"  %>
                   <% end %>
                  <% end %>
                  <div class="bottom">
                    <div class="description">
                      <h5 class="card-title"><%= kitchen.name%></h5>
                       <% kitchen.bookings.each do |booking|%>
                      <li> Cette cuisine est réservée par <%=booking.user.email%></li>
                      <li>Du <%=booking.start_date.strftime("%d/%m/%Y")%></li>
                      <li>Au <%=booking.end_date.strftime("%d/%m/%Y")%></li>
                      <% if booking.confirmed %>
                        <p>Réservation acceptée</p>
                        <% else %>
                          <%= button_to 'Confirmer', confirm_booking_path(booking), method: :patch, class: 'btn btn-primary' %>
                          <% end %>
                      <% end %>


                    </div>
                    <div class="link_box"><%= link_to "Mets à jour ta cuisine", edit_kitchen_path(kitchen), class: 'btn btn-primary' %></div>
                    <div class="link_box"><%= link_to "Supprimer", kitchen_path(kitchen), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?" }, class:"delete_link"%></div>
                  </div>
                  </div>
                 <%# Fin de carte %>
               </div>
                  <br>
              <% end %>
          </div>
          <div>
            <%= link_to "Ajouter une nouvelle cuisine", new_kitchen_path, class: 'btn btn-primary' %>
          </div>
        </div>
      </div>
    </div>

  <!-- User Section -->
    <div class="tab-pane fade show active" id="userSection">
      <div class="row mt-3">
        <div class="col-12">
          <ul>
            <% @user.bookings.each do |booking| %>
              <div class="card p-3 mb-3">
                <li><h3>Vous avez réservé <strong><%= booking.kitchen.name%></strong></h3></li>
                <li>Du <%= booking.start_date.strftime("%B %d, %Y")%></li>
                <li>Au <%= booking.end_date.strftime("%B %d, %Y")%></li>
                <li>Pour <%= booking.kitchen.price%>€ par jour</li>
                <li>Prix total: <%= ((booking.end_date - booking.start_date).to_i)*booking.kitchen.price%>€</li>
                <% if booking.confirmed %>
                  <p>votre réservation est acceptée</p>
                <% end %>
                <div class="link_box">
                  <%= link_to "Supprimer", booking_path(booking), data: {turbo_method: :delete, turbo_confirm: "Êtes-vous sûr ?"}, class:"delete_link"%>
                  <%= link_to "Modifier", "http://localhost:3000/dashboard", class:"edit_link"%>
                </div>
              </div>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
