<div class="container margin-top-negative">
  <div class="row">
    <div class="col-xs-12 col-sm-10 col-sm-offset-1">
      <%= simple_form_for [@kitchen], html: { multipart: true } do |f| %>
        <% @kitchen.photos.each do |photo| %>
          <%= cl_image_tag photo.key, height: 300, width: 400, crop: :fill %>
        <% end %>

          <%= f.input :photos, as: :file, input_html: { multiple: true } %>

          <%= f.input :name, label: "Nom"%>
          <%= f.input :address, label: "Adresse" %>
          <%= f.input :capacity, label: "Capacité" %>
          <%= f.input :price, label: "Prix par jour" %>
          <%= f.input :equipment, label: "Equipement" %>

          <%= f.submit 'Mettre à jour' %>
      <% end %>
    </div>
  </div>
</div>

<p><%= link_to "Retour au Tableau de Bord", dashboard_path, class: 'btn btn-primary' %></p>
