<div class="container mt-4">
  <div class="row">
    <div class="col-6 m-auto">
      <h1>Créer une nouvelle cuisine</h1>
      <div class="mt-3">
        <%= simple_form_for @kitchen do |f| %>
          <%= f.input :name, label: "Nom"%>
          <%= f.input :address, label: "Adresse" %>
          <%= f.input :capacity, label: "Capacité" %>
          <%= f.input :price, label: "Prix par jour" %>
          <%= f.input :equipment, label: "Equipement" %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <div class="d-grid gap-2 col-6 mx-auto"> <%= f.submit 'Créer', class: 'btn btn-light' %> </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
